*{
    margin:0px;
    padding: 0;
}

/*Top Navbar*/
.topbar{
    background-color: #003D29;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-wrap: wrap;
    font-family: sans-serif;
    line-height: 22px;
    font-size: 12px;
}
.contact-content{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 40px;
}
.offer-display{
    cursor: pointer;
}
.topbar-content{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.contact-content img{
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.contact-number{
    margin-left: 5px;
    text-align: center;
}
.topbar-menu{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    display: flex;
}
.topbar-menu ul{
    list-style: none;

}
.topbar-menu ul li{
    display: block;
    position: relative;
}
select{
    background-color: #003D29;
    color: white;
    border: 0;
    padding: 0;
    margin: 2px;
    cursor: pointer;
}
option{
    background-color: white;
    border-radius: 0%;
    font-size: large;
    color: black;
    padding: 5rem;
}
@media screen and (max-width: 490px){
    .offer-display{
        display: none;
    }
}

/*Main Navbar*/
.navbar{
    background-color: #ffffff;
    color: #231F1E;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.pointer{
    cursor: pointer;
}
.navbar-right-content{
    display: inline-flex;
}
.account{
    text-decoration: none;
}
.navbar-menu{
    display: inline-flex;
}
.navbar-menu div{
    margin-left: 5rem;
}
input[type=search] {
    height: 38px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 16px;
    border: 1px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=search]:focus {
    border: 1px solid #65deff;
}

/*Main image*/
.main-image img{
    
}
