*{
    margin:0px;
    padding: 0;
}

/*Top Navbar*/
.topbar{
    background-color: #003D29;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-wrap: wrap;
    font-family: sans-serif;
    line-height: 22px;
    font-size: 12px;
}
.contact-content{
    justify-content: center;
    align-items: center;
    display: flex;
}
.offer-display{
    cursor: pointer;
}
.topbar-content{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}
.contact-content img{
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.contact-number{
    margin-left: 5px;
    text-align: center;
}
.topbar-menu{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}
.topbar-menu ul{
    list-style: none;

}
.topbar-menu ul li{
    display: block;
    position: relative;
}
select{
    background-color: #003D29;
    color: white;
    border: 0;
    padding: 0;
    margin: 2px;
    cursor: pointer;
}
option{
    background-color: white;
    border-radius: 0%;
    font-size: large;
    color: black;
    padding: 5rem;
}
@media screen and (max-width: 340px){
    .offer-display{
        display: none;
    }
}

@media screen and (max-width: 640px){
    
    .topbar-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*Main Navbar*/
.navbar{
    background-color: #ffffff;
    color: #231F1E;
    padding-top: 10px;
    padding-bottom: 7px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.pointer{
    cursor: pointer;
}
.navbar-right-content{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap:10px; 
    text-decoration: none;
}
.navbar-right-content a{
    text-decoration: none;
}
.navbar-right-content img{
    justify-content: center;
    align-items: center;
}
.navbar-menu{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    margin-left: 10px;
    gap:10px;
}
.navbar-menu div{
    margin-left: 5px;
}
input[type=search] {
    height: 38px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 16px;
    border: 1px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=search]:focus {
    border: 1px solid #65deff;
}
.brand-logo{
    margin-top: 5px;
    flex-shrink: 1;
    flex-basis: 100px;
}
.collapse-menu{
    justify-content: center;
    align-items: center;
    display: flex;
}
.collapse-menu img{
    height: 20px;
    justify-self: center;
    align-self: center;
    margin: 10px;
    display: none;
    float: left;
}

@media screen and (max-width:960px){
    .navbar-menu{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .collapse-menu img{
        display: flex;
    }
    .navbar-right-content{
        flex-grow: 1;
    }
}
@media screen and (max-width:467px){
    .navbar-right-content{
        display: none;
    }
    .brand-logo{
        flex-grow: 1;
    }
}
@media screen and (max-width:298px){
    .brand-logo{
        flex-shrink: 10;
    }
}

/*Main image*/
.main-image img{
    height: 110vh;
    width: 100%;
}
