*{
    margin:0px;
    padding: 0;
    font-family: inter, sans-serif;;
}

section{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    box-sizing: border-box;
}
.section-heading{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Eina02, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
}
.pointer{
    cursor: pointer;
}
.text-span{
    vertical-align: super;
    font-size: 14px;
}
.text-span-2{
    font-size: 31px;
    line-height: 41px;
    position: relative;
    top: -16px;
    margin-right: 0;
}

/*Custom Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #D3D2D2; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #231F1E; 
    border-radius: 2.5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #231F1E; 
  }

/*Top Navbar*/
.topbar{
    background-color: #003D29;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-wrap: wrap;
    font-family:Inter, sans-serif;
    line-height: 22px;
    font-size: 12px;
}
.contact-content{
    justify-content: center;
    align-items: center;
    display: flex;
}
.offer-display{
    cursor: pointer;
}
.topbar-content{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}
.contact-content img{
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.contact-number{
    margin-left: 5px;
    text-align: center;
}
.topbar-menu{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}
.topbar-menu ul{
    list-style: none;

}
.topbar-menu ul li{
    display: block;
    position: relative;
}
select{
    background-color: #003D29;
    color: white;
    border: 0;
    padding: 0;
    margin: 2px;
    cursor: pointer;
}
option{
    background-color: white;
    border-radius: 0%;
    font-size: large;
    color: black;
    padding: 5rem;
}
@media screen and (max-width: 340px){
    .offer-display{
        display: none;
    }
}

@media screen and (max-width: 640px){
    
    .topbar-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*Main Navbar*/
.navbar{
    background-color: #ffffff;
    color: #231F1E;
    padding-top: 10px;
    padding-bottom: 7px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.navbar-right-content{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap:10px; 
    text-decoration: none;
}
.navbar-right-content a{
    text-decoration: none;
    color: #231F1E;
}
.navbar-right-content a:hover{
    color: rgb(110, 110, 255);
}
.navbar-right-content img{
    justify-content: center;
    align-items: center;
}
.navbar-menu{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    margin-left: 10px;
    gap:10px;
    font-weight: 400;
}
.navbar-menu .category:hover{
    border-bottom: 3px solid #4353FF;
}
.navbar-menu div{
    margin-left: 5px;
    padding:10px
}
.navbar-menu div:hover{
    color: #535457;
}
input[type=search] {
    height: 38px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 16px;
    border: 1px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=search]:focus {
    border: 1px solid #65deff;
}
.brand-logo{
    margin-top: 5px;
    flex-shrink: 1;
    flex-basis: 100px;
}
.collapse-menu{
    justify-content: center;
    align-items: center;
    display: flex;
}
.collapse-menu img{
    height: 20px;
    justify-self: center;
    align-self: center;
    margin: 10px;
    display: none;
    float: left;
}
.search-bar{
    flex-grow: 1;
}
.search-bar input{
    border-color: #CCCCCC;
    width: 400px;
}

@media screen and (max-width:960px){
    .navbar-menu{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .collapse-menu img{
        display: flex;
    }
    .navbar-right-content{
        flex-grow: 1;
    }
}
@media screen and (max-width:467px){
    .navbar-right-content{
        display: none;
    }
    .brand-logo{
        flex-grow: 1;
    }
}
@media screen and (max-width:298px){
    .brand-logo{
        flex-shrink: 10;
    }
}

/*Main image*/
.main-image{
    background-color: #9ED0E4;
}
.main-image img{
    height: 100vh;
    width: 100%;
    object-fit: fill;
}

/*Top cards*/
.top-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap:23px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    padding-top: 40px;
}
@media screen and (max-width:706px){
    .top-cards{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 22px;
    }
}

.top-item{
    width: auto;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
}
.top-item img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border-radius: 10px;
}
.zoom-effect{
    transition: transform 0.25s;
}
.zoom-effect:hover{
    transform: scale(1.2);
    border-radius: 10px;
}
.category-title{
    text-align: center;
    z-index: 1;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: 600;
    position:absolute;
    top:5;
    bottom: auto;
    left: 0;
    right: auto;

}
.top-categories{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}

/*Best Deals*/
.product-content{
    padding-left: 10px;
    padding-right: 10px;
}
.product-container{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap:24px;
    margin-top: 40px;
}
.product-thumbnail{
    z-index: 0;
    cursor: url(cursor_pointer.png),auto;
    overflow: hidden;
}
.product-thumbnail img{
    width: 100%;
    vertical-align: middle;
}
.product-item{
    background-color: #e3e3e3;
    border-radius: 10px;
    position: relative;
    width: 30vw;
    transform-style: preserve-3d;
}

.heart{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    display: flex;
    transition: all .2s;
    top:16px;
    right: 16px;
    bottom: auto;
    left: auto;
    z-index: 1;
}
.product-content{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-title{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.text.span{
    font-size: 13px;
    position: relative;
    top: -5px;
}
.product-rating{
    display: flex;
    margin-bottom: 10px;
}
.total-rating{
    font-size: 13px;
    margin-left: 5px;
    color: #555;
}
.add-to-cart{
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 22px;
    border: 1px solid #231F1E;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 36px;
    text-decoration: none;
    transition: all .2s;
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}
.add-to-cart:hover{
    color: white;
    font-weight: 600;
    background-color: #003D29;
}
  /* Define the scrollbar style */
  .product-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  /* Define the thumb style */
  .product-container::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
  }
  /* Define the track style */
  .product-container::-webkit-scrollbar-track {
    background-color: #ddd;
    border: 1px solid #ccc;
  }



/*Brand Cards*/
.brand-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}
.brand-card{
    background-color: #f5f6f6;
    border: 1px solid #f5f6f6;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    transition: all .2s;
    border-radius: 5px;
}

.brand-card:hover{
    border-color: black;
}

.brand-thumbnail{
    margin-right: 18px;
}
.brand-title{
    margin-bottom: 13px;
}
@media screen and (max-width:956px){
    .brand-card-container{
        grid-template-columns: 1fr 1fr;
    }
}

/*Discount cards*/
.discount-items{
    grid-column-gap: 23px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    margin-top: 40px;
}
.discount-card{
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 280px;
}
.discount-content{
    padding: 30px;
}
.discount-title{
    max-width: 381px;
    margin-top: 0;
    font-size: 22px;

}
.discount-price{
    color: #cb9917;
    font-family: Eina04, sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
}
.discount-paragraph{
    max-width: 385px;
    color: #231f1e;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}
.discount-thumbnail{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    overflow: hidden;
}
.discount-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
#card-1{
    background-color: #F2E4D9;
}
#card-2{
    background-color: #F9DCDC;
}
#card-3{
    background-color: #F2E4D9;
}
#card-4{
    background-color: #D2F7EC;
}
@media screen and (max-width:957){
    .discount-items{
        grid-template-columns: 1fr 1fr;
    }
}

/*today deals*/
.today-productlist a{
    margin-top: 20px;
    color: #231f1e;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    margin-right: 16px;
    padding: 14px 23px;
    font-family: Eina01, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    transition: all .2s;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.today-product-grid{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.today-product-grid .product-item{
    max-width: 382px;
}

/*Banner*/
.banner{
    display: flex;
    margin: 0px;
    margin-bottom: 40px;
    padding: 0px;
    background-color: #FFE6CC;
    height: 50vh;
    width: 100%;
    color: #333333;
}
.banner-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    margin-right: auto;
}
