*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 1rem;
}
.searchBox{
    margin-top: 20px;
}
.searchBox input{
    width: 100%;
    padding: 10px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    gap: 1vw;
    margin-top: 20px;
    margin-bottom: 30px;
}
.category{
    background-color: #41A745;
    border-radius: 5px;
    padding:10px 20px;
    cursor: pointer;
}
.category button{
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: transparent;
    border: 0 !important;
    outline: 0 !important;
    cursor: pointer;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    padding-top: 40px;
    background-color: aquamarine;
}
.card{
    width: 30vw;
    height: 65vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    overflow: hidden;
    flex-shrink: 1;
    border-radius: 10px;
    transition: all .2s;
}
.card:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.196);
}
.card div{
    margin: 10px;
}